# Copyright (c) 2026 BeardedSheeep

.git
.github
.mypy_cache
.nox
.pytest_cache
.ruff_cache
.venv
.DS_Store
.coverage
__pycache__
*.py[cod]

build
dist
htmlcov
site
security-reports

.env
.env.*
!.env.example

coverage.xml
image.tar
*.db
*.log
*.pid
*.sqlite
tmp
temp
